<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
</head>
<body>
    <form action="/submit" method="post">
        {{range $index, $question := .}}
            <div>
                <p>{{$question.Text}}</p>
                {{range $optIndex, $option := $question.Options}}
                    <label class="radio-inline">
                        <input type="radio" name="q{{$index}}" value="{{$option}}"> {{$option}}
                    </label>
                {{end}}
            </div>
        {{end}}
        <button type="submit">Submit</button>
    </form>
</body>
</html>
